@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>

<ul>
    <li>Phone Number: 253-289-5151</li>
    <li>Email: interest@ascentacct.com</li>
    <li>Mail: 1002 N Meridian, STE 100-209 Puyallup, WA 98371</li>
</ul>