@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">It's a New Day!</h1>
        <h2>Are you ready to climb to your potential?</h2>
        <p>We provide an integrated operation / finance solution to drive your business' growth.</p><br />
    
        <h2>Small Buisness Owners are the Best! And we want to help them for FREE!</h2>
    </div>
