@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2 class="lead">Currently our Privacy Policy is under construction it will likely be in line with the following template.</h2>
<br />

<h2>Please note the following is Just a template it is not binding and is subject to change nor does it hold any specific information yet.</h2>
<br />

<h3>Our Company Privacy Policy</h3>
<br />

<p>
    Our Company is part of the Our Company Group which includes Our Company International and Our Company Direct.
    This privacy policy will explain how our organization uses the personal data we collect from you when you use our website.
</p>
<br />

<p>Topics:</p>
<br />