@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2 class="lead">Currently our Privacy Policy is under construction it will likely be in line with the following template.</h2>

<p ></p>
