/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}


/*
    MY CODE:
*/

body{min-height:200vh;}
.navbar-transparent {
    transition:500ms ease;
    background-color: transparent;
}
.navbar-transparent.scrolled {
    background: #fff;
    border-bottom: 1px solid #dee2e6;
}

header {
    position: fixed;
    width: 100%;
}

#welcome-image {
    max-width: 100%;
    height: auto;
}

.text-nav-color {
    color: #e8c547 !important;
}

a.text-nav-color:hover, a.text-nav-color:focus {
    color: #004370 !important;
}
/*--------------------------------------------*/
.info-navbar {
    overflow: hidden;
    background-color: #004370;
    border-top: 1px solid #001870;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.info-navbar a {
    color: #f2f2f2;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px;
}

.info-navbar a:hover {
    background: #e8c547;
    color: #004370;
}
/*--------------------------------------------*/
/*z-index sets the container to be displayed under other aspects of the website*/
.image-container {
    position: relative;
    text-align: center;
    z-index: -1;
}
.image-text-position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*Used for displaying information in column format*/
.dual-column-display {
    column-count: 2;
    column-gap: 40px;
    column-rule-style: solid;
    column-rule-width: 2px;
}